body.home {
   /* Homepage styles */
}

.find-park {
  background: #004b9b;
  padding: 20px;
  h1 {
    font-size: 45px;
    color: #fff;
  }
}

.soliloquy-outer-container {
  margin-bottom: -20px;
}
